$lightGreen: #b9e7e7;
.app {
  justify-content: center;
  display: flex;
  .container {
    //LOGIN & reGISTER
    width: 1340px;
    .link {
      text-decoration: none;
      color: inherit;
      cursor: pointer;
      &:hover {
        color: teal;
        background-color: white;
        border: 1px;
      }
    }
    //for registration page
    .auth {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $lightGreen;
      height: 175vh;
      h1 {
        font-size: 20px;
        // color: teal;
        margin-bottom: 20px;
      }

      form {
        display: flex;
        flex-direction: column;
        padding: 50px;
        background-color: white;
        width: 600px;
        gap: 12px;
        button {
          padding: 10px;
          border: none;
          background-color: teal;
          color: white;
          cursor: pointer;
        }
        input {
          padding: 10px;
          border: 1px teal solid;
          border-radius: 0.5rem;
          font-style: italic;
          transition: all 80ms ease-in;
        }
        input:hover {
          border-color: $lightGreen;
        }
        input:focus {
          border-color: teal;
        }
        textarea {
          resize: none;
          padding: 10px;
          border: 1px teal solid;
          border-radius: 0.5rem;
          font-style: italic;
          transition: all 80ms ease-in;
        }
        textarea:hover {
          border-color: $lightGreen;
        }
        textarea:focus {
          border-color: teal;
        }
        select {
          resize: none;
          padding: 10px;
          border: 1px teal solid;
          border-radius: 0.5rem;
          font-style: italic;
          transition: all 80ms ease-in;
        }
        select:hover {
          border-color: $lightGreen;
        }
        select:focus {
          border-color: teal;
        }

        label {
          font-weight: 400;
        }
        button {
          padding: 10px;
          border: none;
          background-color: teal;
          color: white;
          cursor: pointer;
        }
        p {
          font-size: 12px;
          color: red;
          text-align: center;
        }
        span {
          font-size: 12px;
          text-align: center;
          display: inline-flexbox;
        }
      }
      .relink {
        text-decoration: none;
        color: inherit;
        cursor: pointer;
        &:hover {
          color: teal;
          border: 1px;
        }
      }
    }
    .inputform {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      // height: 175vh;
      button {
        padding: 10px;
        width: 150px;
        margin-left: 180px;
        border: none;
        background-color: teal;
        color: white;
        cursor: pointer;
        border-radius: 10px;
      }
      h1 {
        font-size: 20px;
        // color: teal;
        margin-bottom: 20px;
      }

      form {
        display: flex;
        flex-direction: column;
        padding: 50px;
        // background-color: white;
        width: 600px;
        gap: 12px;
        input {
          width: 300px;
          padding: 10px;
          border: 1px teal solid;
          border-radius: 0.5rem;
          font-family: "cascadia";
          transition: all 80ms ease-in;
          margin-left: 100px;
          height: 50px;
          font-size: 17px;
        }
        input:hover {
          border-color: $lightGreen;
        }
        input:focus {
          border-color: teal;
        }
        textarea {
          resize: none;
          padding: 10px;
          border: 1px teal solid;
          border-radius: 0.5rem;
          font-style: italic;
          transition: all 80ms ease-in;
        }
        textarea:hover {
          border-color: $lightGreen;
        }
        textarea:focus {
          border-color: teal;
        }
        select {
          resize: none;
          padding: 10px;
          border: 1px teal solid;
          border-radius: 0.5rem;
          font-style: italic;
          transition: all 80ms ease-in;
        }
        select:hover {
          border-color: $lightGreen;
        }
        select:focus {
          border-color: teal;
        }

        label {
          font-weight: 400;
          margin-left: 100px;
          font-size: 20px;
        }
        button {
          padding: 10px;
          border: none;
          background-color: teal;
          color: white;
          cursor: pointer;
        }
        p {
          font-size: 12px;
          color: red;
          text-align: center;
        }
        span {
          font-size: 12px;
          text-align: center;
          display: inline-flexbox;
        }
      }
      .relink {
        text-decoration: none;
        color: inherit;
        cursor: pointer;
        &:hover {
          color: teal;
          border: 1px;
        }
      }
    }
    //navbar
    .navbar {
      max-width: 1440px;
      width: 100%;
      height: 12vh;
      .container {
        // margin-top: 5px;
        // padding: 10px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
          img {
            width: 100px;
            margin-top: 20px;
          }
        }
        .links {
          display: flex;
          align-items: center;
          gap: 22px;
          margin-inline-start: 830px;
        }
        h6 {
          font-size: 17px;
          font-weight: 400;
        }
      }
      .dropmenue {
        position: absolute;
        top: 5rem;
        width: 300px;
        padding: 15px;
        border-radius: 5px;
        background-color: rgb(199, 234, 234);
        border: 1px gray;
        text-align: left;
        ul {
          list-style-type: none;
        }
        hr {
          width: 100%;
          // margin-left: 300px;
          border: 1px solid grey;
          height: 0px;
          // border-radius: 5px;
        }
      }
    }
    //FOOTER{
    .footer {
      // margin-top: 100px;
      padding: 20px;
      background-color: #353535;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 12 px;
      margin-inline-start: 0px;
      img {
        height: 110px;
        margin-top: 0px;
      }
      ul {
        list-style-type: none;
      }
      .hr1 {
        width: 700px;
        margin-left: 300px;
        border: 1px solid white;
        border-radius: 5px;
      }
      .flink {
        text-decoration: none;
        color: inherit;
        cursor: pointer;
        &:hover {
          color: teal;
          background-color: #353535;
          border: 1px;
        }
      }
      .row {
        // align-items: center;
        color: white;
      }
      .col {
        float: left;
        margin-left: 100px;
      }
      .col1 {
        float: left;
        margin-left: 100px;
      }
      .col2 {
        margin-right: 100px;
        float: right;
      }
      .copyright {
        margin-top: 3px;
        font-size: 12px;
        margin-left: 10px;
        display: flex;
        color: #b8b8b8;
        .p {
          margin-left: 800px;
          display: flex;
        }
        .vl {
          border-left: 1px solid #b8b8b8;
          height: 20px;
        }
      }
      .ruler {
        width: 1300px;
        margin-left: 00px;
        margin-top: 85px;
        border: 1px solid rgb(152, 150, 150);
        border-radius: 5px;
      }
      .icons {
        text-align: left;
        gap: 10px;
        font-size: 2em;
        .facebook {
          text-decoration: none;
          color: inherit;
          cursor: pointer;
          &:hover {
            color: #3b5998;
            background-color: #353535;
            border: 1px;
          }
        }
        .instagram {
          text-decoration: none;
          color: inherit;
          cursor: pointer;
          &:hover {
            color: #c13584;
            background-color: #353535;
            border: 1px;
          }
        }
        .twitter {
          text-decoration: none;
          color: inherit;
          cursor: pointer;
          &:hover {
            color: #00acee;
            background-color: #353535;
            border: 1px;
          }
        }
        .telegram {
          text-decoration: none;
          color: inherit;
          cursor: pointer;
          &:hover {
            color: #0088cc;
            background-color: #353535;
            border: 1px;
          }
        }
        .linkedin {
          text-decoration: none;
          color: inherit;
          cursor: pointer;
          &:hover {
            color: #0a66c2;
            background-color: #353535;
            border: 1px;
          }
        }
      }
      .block {
        float: left;
        overflow: hidden;
        width: 100%;
        padding: 10px;
        color: white;
      }
      .title {
        margin: 0;
        padding: 0;
        overflow: hidden;
        color: white;
        size: 12px;
      }

      figure {
        float: left;
        margin-right: 10px;
      }
    }
    //home
    .home {
      width: 100%;
      .about {
        margin-top: 5px;
        padding: 20px;
        background-color: #f6f8fb;
        display: flex;
        align-items: center;
        font-size: 12 px;
        padding: 40px;
        h2 {
          font-size: 32px;
          text-align: center;
          font-weight: 350;
          font-family: "cascadia code";
        }
      }
      .gallery {
        background-color: #fffcf4;
        max-width: 100%;
        height: 500px;
        margin: 0px auto;
        // margin-left: 0px;
        padding: 60px;
        // display: grid;
        // display: flex;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: 200px;
        gap: 30px;
        .photos {
          max-width: 100%;
          height: 100%;
          overflow: hidden;
          border-radius: 6 px;
          border: 7px solid #903b6b;
        }
        .output {
          background-color: $lightGreen;
          margin-top: 10px;
          // display: flex;
          margin-left: 100px;
          width: auto;
          font-size: 15px;
          text-align: center;
          font-weight: 350;
          font-family: "cascadia code";
        }
      }
      .short {
        grid-row: span 1;
        grid-column: span 2;
        // border: 4px solid #0f0109;
      }
      .tall {
        grid-row: span 2;
        grid-column: span 2;
      }
      .feedback {
        background: #f4eee9;
        background-size: cover;
        max-width: 100%;
        margin: 0px auto;
        padding: 40px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 360px;
        gap: 30px;
        p {
          text-align: left;
          font-weight: 600;
          font-style: oblique;
          color: #000000;
          margin-top: 190px;
          isolation: isolate;
          &:hover {
            color: #ffffff;
            border: 1px;
            text-decoration: underline;
          }
        }
      }
      h2 {
        text-align: center;
        color: #000000d4;
        font-size: 35px;
      }
      p {
        margin-top: 5px;
        margin-inline-start: 50px;
        font-weight: 450;
        font-size: 17px;
        // text-align: center;
        // font-style: italic;
        color: rgb(0, 0, 0);
      }
    }
  }
}
